<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net40" />
  <package id="MySql.Data" version="7.0.2-DMR" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.38" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.38" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="4.0.38" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.38" targetFramework="net40" />
</packages>